.game {
  width: 600px;
  height: 225px;
  border: 1px solid black;
  margin: auto;
  background-image: url("../assets/decor1.jpg");
}

#santa {
  width: 50px;
  height: 50px;
  background-image: url("../assets/Santa-Pixel.png");
  background-size: 50px 50px;
  position: relative;
  top: 142px;
}

.jump {
  animation: jump 2s linear;
}

@keyframes jump {
<<<<<<< HEAD
  0% {
    top: 150px;
=======
   0% {
    top: 100px;
>>>>>>> b18fedcc39c2930e1779dafedf90d7ef5b8a0a0c
  }

  20% {
    top: 50px;
  }

<<<<<<< HEAD
  50% {
=======
  40% {
>>>>>>> b18fedcc39c2930e1779dafedf90d7ef5b8a0a0c
    top: 10px;
  }

  80% {
    top: 20px;
  }

  100% {
    top: 150px;
  }
}

.cactus {
  width: 20px;
  height: 40px;
  position: fixed;
<<<<<<< HEAD
  top: 180px; /* Ajustez cette valeur selon votre disposition souhaitée */
=======
  top: 180px; 
>>>>>>> b18fedcc39c2930e1779dafedf90d7ef5b8a0a0c
  background-image: url("../assets/chimney.jpg");
  background-size: 20px 40px;
  animation: move 8s linear;
}

.gift {
  width: 20px;
  height: 20px;
  position: fixed;
<<<<<<< HEAD
  top: 200px; /* Ajustez cette valeur selon votre disposition souhaitée */
=======
  top: 200px;
>>>>>>> b18fedcc39c2930e1779dafedf90d7ef5b8a0a0c
  background-image: url("../assets/Gift1.png");
  background-size: 20px 20px;
  animation: move 6s infinite linear;
}

@keyframes move {
  0% {
<<<<<<< HEAD
    left: 600px;
=======
    left: 90%;
>>>>>>> b18fedcc39c2930e1779dafedf90d7ef5b8a0a0c
  }

  100% {
    left: 0;
  }
}